#include "actmon.h"
#include "dialog.h"

RCINCLUDE dialog.dlg

ICON ICON_DEFAULT actmon.ico
ICON ICON_GREEN1 GreenA.ICO
ICON ICON_GREEN2 GreenC.ICO
ICON ICON_GREEN3 GreenT.ICO
ICON ICON_GREEN4 GreenM.ICO
ICON ICON_GREEN5 GreenO.ICO
ICON ICON_GREEN6 GreenN.ICO
ICON ICON_YELLOW1 YellowA.ICO
ICON ICON_YELLOW2 YellowC.ICO
ICON ICON_YELLOW3 YellowT.ICO
ICON ICON_YELLOW4 YellowM.ICO
ICON ICON_YELLOW5 YellowO.ICO
ICON ICON_YELLOW6 YellowN.ICO
ICON ICON_RED1 RedA.ICO
ICON ICON_RED2 RedC.ICO
ICON ICON_RED3 RedT.ICO
ICON ICON_RED4 RedM.ICO
ICON ICON_RED5 RedO.ICO
ICON ICON_RED6 RedN.ICO

MENU MN_CONTEXT LOADONCALL
BEGIN
  MENUITEM TXT_PROPERTIES, MI_PROPERTIES
  MENUITEM TXT_SAVEWINDOWPOS, MI_SAVEWINDOWPOS
  MENUITEM TXT_RESET, MI_RESET
  MENUITEM TXT_VIEWLOG, MI_VIEWLOG
END

WINDOWTEMPLATE ID_WINDOW
BEGIN
   FRAME ACTMON_TITLE, ID_WINDOW, 6, 32, 200, 91, FS_NOBYTEALIGN | FS_SIZEBORDER | WS_CLIPSIBLINGS | WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_MENU | FCF_MINBUTTON | FCF_ACCELTABLE | FCF_AUTOICON | FCF_TASKLIST
   BEGIN
      WINDOW "", ID_CLIENT, 6, 32, 200, 91, WINDOW_CLASS, FS_NOBYTEALIGN | WS_VISIBLE
   END
END

